@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");
/* Constant styles  */
$mainColor: #527834;
$secondColor: #7eb751;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-family: "Noto Kufi Arabic", sans-serif;
  direction: rtl;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  line-height: normal !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* // Constant Styles */

ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */

.btn-style {
  background-color: $mainColor;
  padding: 21px 35px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
  border: 1px solid $mainColor;
  border-radius: 10px;

  &:hover {
    color: $mainColor;
    background-color: #fff;
    border-color: #fff;
    border-color: $mainColor;
  }
}

.btn-style-rounded {
  background-color: $mainColor;
  padding: 18px 47px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  border: 1px solid $mainColor;

  &:hover {
    color: $mainColor;
    background-color: #fff;
    border-color: #fff;
  }
}

.card_img {
  height: 100vh;
  position: relative;

  .img_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.section_header {
  margin: 20px 0;

  h5 {
    font-size: 2rem;
    // font-family: bills;
  }
}

.splashscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainColor;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  .loading {
    display: flex;
    gap: 12px;
  }

  .loading div {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 -0.4rem rgba(60, 0, 80, 0.1) inset;

    animation: cycle 1s ease-in-out infinite;
  }

  .loading div:nth-child(1) {
    animation-delay: 0;
  }

  .loading div:nth-child(2) {
    animation-delay: 0.2s;
  }

  .loading div:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes cycle {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(1rem);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.splashscreen_none {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.splash-active {
  height: 100vh;
  overflow: hidden;
}

.section_header {
  text-align: center;
  margin-bottom: 0;

  span {
    color: $secondColor;
    font-size: 1.3rem;
  }
}

.section_bar {
  text-align: center;
  margin-top: 3px;

  p {
    font-size: 1.1rem;
  }
}

/* menu icon */
.top_header {
  background-color: $mainColor;
  padding: 20px 0;

  .wrap {
    i {
      color: #fff;
      margin-left: 8px;
    }
  }

  select,
  span {
    color: #fff;
    font-size: 0.8rem;
  }

  .custom_elect {
    background-color: transparent;
    border: 0;
  }

  .location {
    margin-right: 25px;
  }

  .social {
    span {
      font-size: 0.8rem;
    }

    ul {
      li {
        a {
          display: inline-block;
          margin-right: 18px;

          i {
            color: #fff;
          }
        }
      }
    }
  }
}

.custom_navbar {
  padding: 20px 0;

  .logo {
    flex: none;
    width: 50px;
    margin-left: 60px;

    img {
      width: 100%;
    }
  }

  .links {
    ul {
      justify-content: flex-start;
      flex-wrap: wrap;

      li {
        // width: calc(100% / 8);
        min-width: 120px;
        width: max-content;
        margin: 6px 0;
        margin-left: 25px;

        a {
          display: block;
          color: #686868;
          font-size: 0.9rem;
        }
      }
    }
  }

  .submenu_parent {
    cursor: pointer;
    position: relative;

    .submenu {
      position: absolute;
      background-color: #fff;
      padding: 10px;
      top: 30px;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: all .3s ease-in-out;

      li {
        margin: 0;

        a {
          padding: 5px;
          border-radius: 3px;

          &:hover {
            background-color: #ff9500b5;
            color: #fff;
          }
        }
      }
    }

    i {
      color: #575757;
      font-size: .8rem;
      margin-right: 5px;
    }

    &:hover {
      .submenu {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
      }
    }
  }
  .nav_icon{
    display: none;
  }
}

.custom_header {
  // position: relative;

  .slider_item {
    position: relative;

    .header_svg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      height: 100%;

      // width: 100%;
      img {
        height: 100%;
        // width: 100%;
      }
    }
  }

  .card_img {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_content {
    position: relative;
    z-index: 5;
    text-align: center;

    h5 {
      color: #fff;
      font-size: 3rem;
      line-height: 70px;
    }

    a {
      background-color: #ff9600;
      color: #fff;
      padding: 13px 40px;
      display: block;
      width: fit-content;
      border-radius: 50px;
      margin: auto;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    bottom: 10px;
    margin: 0;
    // padding: 10px 0;

    list-style-type: none;

    li {
      margin: 0 0;
    }

    button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #FFFFFF;
    }

    li.slick-active button {
      background-color: #FF9600;
    }

  }
}

.our_services {
  padding: 80px 0;
  position: relative;
  background: #fafafa;

  .section_bar {
    margin-bottom: 45px;
  }

  .our_services_cards_back {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;

    img {
      width: 100%;
    }
  }
}

.service_card {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(164, 164, 164, 0.15);
  padding: 24px 30px;
  border-radius: 10px;
  background: #fdfdfd;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: auto;
  margin-bottom: 16px;

  h5 {
    font-size: 1rem;
    margin-top: 15px;
  }
}

.who_us {
  padding: 80px 0;
  background: #fafafa;

  .section_header {
    text-align: right;
  }

  .who_us_content {
    p {
      color: #626262;
    }
  }

  .card_img {
    height: 267px;
    border-radius: 8px;
    margin-top: 25px;

    img {
      border-radius: 8px;
    }
  }

  .who_us_cards {}

  .button_click {
    a {
      background-color: #ff9600;
      color: #fff;
      padding: 6px 40px;
      display: block;
      width: fit-content;
      border-radius: 50px;
      margin-right: 20px;
      margin-top: 30px;
      // margin: auto;
    }
  }
}

.who_us_card {
  border-radius: 8px;
  border: 1px solid var(--Strock-color, #dfdfdf);
  background: #fff;
  padding: 10px;
  margin-bottom: 8px;
  margin-right: 20px;

  .card_icon {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: #ebf5e4;
    border-radius: 10px;
    flex: none;
  }

  p {
    margin-right: 15px;
    color: #626262;
    font-size: 1rem;
  }
}

.our_numbers {
  padding: 80px 0;
  background: #f2f6f4;

  .section_header {
    margin-bottom: 50px;
  }
}

.our_numbers_card {
  margin-bottom: 20px;

  .card_icon {
    width: 88px;
    height: 88px;
    flex: none;
    border-radius: 15px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
  }

  h5 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
    color: #686868;
  }
}

.our_news {
  padding: 80px 0;
  background: #fafafa;

  .section_bar {
    margin-bottom: 40px;
  }

  .button_click {
    a {
      background-color: #ff9600;
      color: #fff;
      padding: 6px 40px;
      display: block;
      width: fit-content;
      border-radius: 50px;
      margin-right: 20px;
      margin-top: 30px;
      margin: auto;
    }
  }
}

.our_projects {
  .button_click {
    margin-top: 30px;

    a {
      background-color: #ff9600;
      color: #fff;
      padding: 6px 40px;
      display: block;
      width: fit-content;
      border-radius: 50px;
      margin-right: 20px;
      margin-top: 30px;
      margin: auto;
    }
  }
}

.our_news_card {
  margin-bottom: 30px;
  display: block;

  .card_img {
    height: 380px;
    border-radius: 10px;
    display: flex;
    align-items: end;

    .new {
      background: #e7ffe2;
      color: #fff;
      padding: 3px 25px;
      display: block;
      border-radius: 50px;
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 2;
      color: #7eb751;
      font-size: 0.9rem;
    }

    img {
      border-radius: 10px;
    }

    .card_content {
      position: relative;
      z-index: 1;
      border-radius: 0 0 10px 10px;
      background: rgba(107, 78, 70, 0.8);
      padding: 16px;

      h5 {
        color: #fff;
        margin-bottom: 8px;
      }

      p {
        color: #cdcdcd;
        font-size: 1rem;
        width: 90%;
      }
    }
  }
}

.side_our_news_card {
  border-radius: 10px;
  border: 1px solid var(--Strock-color, #dfdfdf);

  .card_img {
    width: 151px;
    height: 192px;
    flex: none;
    margin-left: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    img {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .card_body {
    padding: 15px 6px;

    h5 {
      color: #000;
      font-size: 1.1rem;
      line-height: 33px;
      margin: 0;
      @extend %spcfies-number-of-line;
      -webkit-line-clamp: 2 !important;
    }

    p {
      color: #686868;
      font-size: 0.95rem;
      margin: 0;
      @extend %spcfies-number-of-line;
      -webkit-line-clamp: 3 !important;
    }
  }
}

.our_projects {
  padding: 80px 0;
  background: #f2f6f4;

  .section_bar {
    margin-bottom: 45px;
  }
}

.our_project_card {
  border-radius: 10px;
  background: #fff;
  padding: 16px 16px 16px 30px;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 50%;
    background-color: #7eb751;
    width: 5px;
    border-radius: 10px;
  }

  .card_img {
    width: 246px;
    height: 185px;
    flex: none;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;
    img {
      border-radius: 10px;
    }
  }

  .card_body {
    padding: 15px 6px;

    h5 {
      color: #000;
      font-size: 1.1rem;
      line-height: 33px;
      margin: 0;
      @extend %spcfies-number-of-line;
      -webkit-line-clamp: 2 !important;
    }

    p {
      color: #686868;
      font-size: 0.95rem;
      margin: 0;
      @extend %spcfies-number-of-line;
      -webkit-line-clamp: 3 !important;
      line-break: anywhere;
    }

    a {
      color: #ff9600;
      display: flex;
      align-items: center;
      margin-top: 15px;

      span {
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
}

.breadcrum_cistom {
  margin-top: 40px;

  .wrapper_breadcrum_cistom {
    // background-color: #aa7b37;
    background-image: url("../images/breadcrumb.png");
    @extend %backgroundImage;
    padding: 84px 0 90px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h5 {
      color: #fff;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        position: relative;

        a {
          color: #e9e2e2;
          margin: 0 10px;
        }

        &::before {
          position: absolute;
          content: "\f104";
          top: 50%;
          transform: translate(0, -50%);
          left: -5px;
          @extend %inilizeFonrtAwsome_Before_After;
          color: #fff;
        }

        &:last-child {
          &::before {
            content: "";
          }
        }

        &.active {
          a {
            color: #ff9600;
          }
        }
      }
    }
  }
}

.what_they_sya {
  padding: 80px 0;
  background-color: #f9f9f9;

  .slider_item {
    padding: 70px 0;
    margin: 0 12px;
  }
}

.what_they_sya_card {
  background-color: #fefefe;
  border: 1px solid #dfdfdf;
  padding: 59px 16px 24px 16px;
  border-radius: 10px;
  position: relative;

  .cooma {
    position: absolute;
    top: -40px;
    left: 40px;
  }

  .logo {
    width: 70px;
    height: 80px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: -40px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    // padding: 3px 15px 0 15px;
    img {
      width: 30px;
    }
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    color: #b8b8b8;
    font-size: 1rem;
  }

  p {
    color: #8d8c8c;
    font-size: 0.9rem;
    margin-top: 16px;
  }
}

.our_partners {
  padding: 80px 0;
  background: #f2f6f4;

  .section_header {
    margin-bottom: 40px;
  }
}

.our_partner_card {
  padding: 24px 38px;
  border-radius: 10px;
  margin-bottom: 40px;
  border: 1px solid var(--Strock-color, #dfdfdf);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_us {
  padding: 80px 0;
  background-color: #f9f9f9;
  background-image: url("../images/map-dotted.png");

  // @extend %backgroundImage;
  .section_bar {
    margin-bottom: 40px;
  }
}

.contact_info_card {
  border-radius: 10px;
  border: 1px solid var(--Strock-color, #dfdfdf);
  background: #fff;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 130px;
  margin-bottom: 45px;

  .card_icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #ffecd0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;

    i {
      color: #ff9600;
      font-size: 2rem;
    }
  }

  .card_body {
    margin-right: 12px;

    h5,
    p {
      margin: 0;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: #686868;
      margin-top: 5px;
    }
  }
}

.form_style {
  .form-group {
    margin-bottom: 25px;

    .form-control {
      background-color: #fff;
      height: 72px;
      padding: 10px 16px 10px 24px;
      border-radius: 10px;
      border: 1px solid #dfdfdf;
    }

    textarea.form-control {
      height: 365px;
      resize: none;
    }
  }

  .button_click {
    margin-top: 40px;

    a {
      background-color: #ff9600;
      color: #fff;
      padding: 6px 40px;
      display: block;
      width: fit-content;
      border-radius: 50px;
      margin-right: 20px;
      margin-top: 30px;
      margin: auto;
    }
  }
}

.members_cards {
  padding: 80px 0;
  background: #fdfdfd;

  .section_header {
    margin-bottom: 40px;
  }
}

.memberd_card {
  border-radius: 10px;
  border: 1px solid #f5f5f5;
  background: #fafafa;
  box-shadow: 0 4px 4px 0 rgba(196, 196, 196, 0.15);
  padding: 16px;
  margin-bottom: 24px;

  .card_icon {
    margin-bottom: 14px;
  }

  .card_body {
    span {
      color: #575757;
      font-size: 0.9rem;
    }

    .colored {
      span {
        color: #a7a7a7;
      }
    }
  }
}

.share_via {
  span {
    font-size: 1.1rem;
  }

  ul {
    margin-right: 18px;

    li {
      margin: 0 4px;

      a {
        img {
          width: 40px;
        }
      }
    }
  }
}

.certificate {
  padding: 80px 0;
  background-color: #fdfdfd;
}

.our_numbers_inside {
  background-color: #fdfdfd;

  .our_numbers_cards {
    background: #fafafa;
    border-radius: 10px;
  }

  .our_numbers_card {
    // background-color: #fafafa;
    margin-bottom: 0;

    .card_body {
      h5 {
        font-size: 0.9rem;
        margin: 0;
      }

      p {
        font-size: 0.8rem;
        margin: 0;
      }
    }

    .card_icon {
      background-color: transparent;
    }
  }
}

.insituites_files {
  padding: 80px 0;

  .section_header {
    margin-bottom: 40px;
  }
}

.pdf_files_card {
  text-align: center;
  background-color: #fffbff;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #fff8ee;
  margin-bottom: 20px;

  h5 {
    font-size: 0.9rem;
    margin-top: 20px;
  }
}

.programs_registeration {
  padding: 80px 0;

  .nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px !important;
    margin-top: 50px;
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: 15px;
    li{
      min-width: max-content !important;
      margin-left: 5px;
    }
    .nav-item {
      min-width: calc(93% / 7);

      .nav-link {
        background-color: #f3f4f5;
        border-radius: 50px;
        padding: 10px 30px;
        color: #878787;
        font-size: 0.9rem;
        width: 100%;

        &.active {
          background-color: #fff4e4;
          color: #ff9600;
          border: 1px solid #ff9600;
        }
      }
    }
  }

  .our_projects_cards {
    .our_project_card {
      background-color: #f9f9f9;

      p {
        font-size: 0.8rem !important;
      }
    }

    .card_body {
      width: 100%;
    }

    .prgress_bar {
      span {
        font-size: 0.8rem !important;
        display: block;
        color: #686868;
      }

      .progress {
        height: 8px;
        margin-top: 10px;
        direction: ltr;

        .progress-bar {
          background-color: #7eb751;
          border-radius: 10px;
        }
      }
    }
  }
}

.volunteering_page {
  padding: 80px 0;
}

.volunteering_page_card {
  margin-top: 50px;

  img {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 1.1rem;
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    color: #585757;
    margin-top: 5px;
  }
}

.volunteering_registeration_page {
  padding: 80px 0;

  .form_style {
    margin-top: 50px;

    .form-group {
      margin-bottom: 10px;

      .form-control {
        height: 56px !important;

        &::placeholder {
          font-size: 0.9rem;
        }
      }

      textarea.form-control {
        height: 115px !important;
      }
    }

    .button_click {
      margin-top: 10px;

      a {
        margin: unset;
        margin-left: auto;
        width: 251px;
        text-align: center;
      }
    }
  }
}

.media_center_page {
  .our_news_card {
    .pic {
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      padding: 12px;
      border-radius: 5px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        margin: 0 !important;
        font-size: 0.9rem;
      }
    }
  }
}

.media_center_details_page {
  padding: 80px 0;

  .photo_gallery {
    margin-top: 40px;

    .head {
      background-color: #f7f7f7;
      padding: 24px 35px;
      border-radius: 10px;
      position: relative;
      margin-bottom: 25px;

      span {
        position: absolute;
        width: 5px;
        height: 70%;
        background-color: #585857;
        top: 50%;
        transform: translate(0, -50%);
        right: 16px;
        border-radius: 5px;
      }

      h5 {
        color: #8f8f8f;
        font-size: 1.1rem;
        margin: 0;
      }
    }

    .our_news_card {
      .card_img {
        height: 200px;
      }
    }
  }
}

.quta {
  background-color: #fffaf3;
  padding: 24px 35px;
  border-radius: 10px;
  position: relative;

  span {
    position: absolute;
    width: 5px;
    height: 70%;
    background-color: #c8882f;
    top: 50%;
    transform: translate(0, -50%);
    right: 16px;
    border-radius: 5px;
  }

  p {
    color: #c8882f;
    margin: 0;
  }
}

.blogs_filter {
  .search {
    position: relative;
    padding-right: 12px;
    background-color: #fef8f1;
    padding: 32px 24px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;

    // &::before {
    //   content: "";
    //   width: 6px;
    //   height: 38px;
    //   background-color: #0055ff;
    //   position: absolute;
    //   right: 0;
    //   z-index: 2;
    //   top: 50%;
    //   transform: translate(0, -50%);
    //   border-radius: 20px;
    // }
    .form-group {
      height: 46px;
      background-color: #fff;
      position: relative;
      border-radius: 100px;

      img {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
      }

      .form-control {
        height: 100%;
        padding-left: 44px;
        border: 1px solid #ebebeb;
        border-radius: 100px;

        &::placeholder {
          font-size: 0.9rem;
        }
      }
    }
  }

  .latest_blogs {
    margin-top: 16px;
    position: relative;
    padding-right: 12px;
    background-color: #fef8f1;
    padding: 32px 24px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;

    .head {
      position: relative;
      padding-right: 12px;

      h5 {
        font-size: 1rem;
      }

      // &::before {
      //   content: "";
      //   width: 6px;
      //   height: 38px;
      //   background-color: #0055ff;
      //   position: absolute;
      //   right: 0;
      //   z-index: 2;
      //   top: 50%;
      //   transform: translate(0, -50%);
      //   border-radius: 20px;
      // }
    }

    hr {
      padding-bottom: 0;
      display: block;
      color: #dfdfdf;
      margin: 0;
      margin: 15px 0;
    }

    .side_our_news_card {
      background-color: #fff;
      padding: 12px 15px;
      margin-bottom: 8px;

      .card_img {
        width: 80px;
        height: 80px;
        border-radius: 5px;

        img {
          border-radius: 5px;
        }
      }

      .card_body {
        padding: 0;
      }

      h5 {
        @extend %spcfies-number-of-line;
        -webkit-line-clamp: 2 !important;
        font-size: 0.8rem;
        line-height: 25px;
      }

      p {
        @extend %spcfies-number-of-line;
        -webkit-line-clamp: 1 !important;
        font-size: 0.8rem;
      }
    }
  }
}

.competitions_page {
  padding: 80px 0;

  .our_project_card {
    background-color: #f9f9f9;

    .status {
      background-color: #fff4f2;
      color: #d85b3b;
      border-radius: 50px;
      padding: 10px 20px;
      font-size: 0.9rem;
      position: absolute;
      top: 16px;
      left: 32px;
      z-index: 3;
    }

    .card_body {
      p {
        -webkit-line-clamp: 2 !important;
      }
    }

    .date {

      i,
      span {
        color: #a7a7a7;
        font-size: 0.9rem;
      }
    }
  }
}

.competition_details_page {
  padding: 80px 0;

  .quta {
    background-color: #fff4f2;
    padding: 24px 35px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #ffcfcf;
    margin: 40px 0;

    span {
      position: absolute;
      width: 5px;
      height: 70%;
      background-color: #d85b3b;
      top: 50%;
      transform: translate(0, -50%);
      right: 16px;
      border-radius: 5px;
    }

    p {
      color: #d85b3b;
      margin: 0;
    }
  }

  .come_details {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    padding: 24px;
    border-radius: 10px;

    h5 {
      color: #a1a1a1;
      font-size: 1.1rem;
    }

    .date {
      margin: 10px 0;
      margin-bottom: 5px;

      i,
      span {
        color: #a7a7a7;
        font-size: 0.9rem;
      }
    }

    p {
      font-size: 1rem;
      color: #a1a1a1;
      margin: 0;
    }
  }
}

.evaluation_page {
  padding: 80px 0;

  .form_style {
    margin-top: 50px;

    .hint {
      font-size: 0.7rem;
      font-weight: 200;
      margin: 0;
      color: #a4a3a3;
      margin-bottom: 10px;
      display: block;
    }

    .form-group {
      margin-bottom: 10px;
      height: 56px !important;
      // border: 1px solid #e4e1e1;
      position: relative;
      border-radius: 10px;
      background-color: #fff;

      label {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 18px;
        color: #878787;

        span {
          color: #e20000;
          position: absolute;
          left: -15px;
          top: 0;
        }
      }

      .form-control {
        height: 100%;
        border-radius: 10px;
        border: 0;
        border: 1px solid #e4e1e1;

        &::placeholder {
          font-size: 0.9rem;
        }
      }

      textarea.form-control {
        height: 115px !important;
      }

      .custom_select {
        float: none;
        width: 100%;
        text-align: right !important;

        .current {
          text-align: right !important;
        }

        .list {
          width: 100%;
          text-align: right;

          .option {
            text-align: right;
          }
        }

        &::after {
          right: unset;
          left: 10px;
        }
      }
    }

    .button_click {
      margin-top: 10px;

      a {
        margin: unset;
        margin-left: auto;
        width: 251px;
        text-align: center;
      }
    }

    .textareagroup {
      height: 114px !important;
    }
  }
}

.govermence_page {
  padding: 80px 0;

  .service_card {
    border-top: 3px solid #ff9600;
    display: block;

    h5 {
      margin-top: 16px;
      color: #606060;
      font-size: 1rem;
    }
  }
}

.govermence_detail_page {
  padding: 80px 0;

  .quta {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .lista {
    border: 1px solid #ebebeb;
    padding: 24px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 16px;

    p {
      margin: 0;
      color: #8e8e8e;
      font-size: 0.9rem;
    }

    li {
      margin-bottom: 8px;
    }

    li::marker {
      color: #8e8e8e;
    }
  }
}

.banks_accounts_page {
  padding: 80px 0;

  .section_header {
    margin-bottom: 40px;
  }

  .our_project_card {
    background-color: #fbf9f9;
    margin-bottom: 16px;

    .card_img {
      width: 118px;
      height: 102px;

      img {
        object-fit: contain;
        width: 70%;
        margin: auto;
      }
    }

    h5 {
      font-size: 1rem;
      margin: 0;
    }

    p {
      font-size: 0.9rem;
      margin: 0;
    }
  }
}

.fundraising_website_page {
  padding: 80px 0;

  .section_header {
    margin-bottom: 40px;
  }
}

.fundraising_website_card {
  border: 1px solid #e9e9e9;
  padding: 24px 16px;
  border-radius: 10px;
  margin-bottom: 16px;

  .card_img {
    height: 180px;
    border-radius: 5px;

    .status {
      background-color: #FAFAFA;
      color: #949494;
      border-radius: 50px;
      padding: 7px 20px;
      font-size: 0.8rem;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 3;
    }

    img {
      border-radius: 5px;
    }
  }

  .card_body {
    h5 {
      font-size: 1rem;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p {
      color: #808080;
      font-size: 0.8rem;
      line-height: 20px;
    }
  }

  .progress_wrap {
    span {
      font-size: 0.7rem;
      color: #999999;
    }

    .progress {
      height: 8px;
      margin-top: 10px;
      direction: ltr;

      .progress-bar {
        background-color: #7eb751;
        border-radius: 10px;
      }
    }
  }

  .input-group {
    height: 40px;

    .form-control {
      border: 1px solid #ededed;
      background-color: #fff;

      &::placeholder {
        font-size: 0.8rem;
      }
    }

    .input-group-text {
      border: 1px solid #ededed;
      font-size: 0.9rem;
    }
  }

  .card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;

    a.btn_click {
      background-color: #ff9600;
      display: block;
      width: 312px;
      text-align: center;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
    }

    .dropdown {
      .btn {
        border: 1px solid #e9e9e9;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        &:focus {
          outline: 0 !important;
          box-shadow: none !important;
        }
      }

      .dropdown-toggle::after {
        display: none;
      }
    }

    .dropdown-menu {
      padding: 12px;
      border: 1px solid #e4e1e1;

      li {
        a {
          border-radius: 5px;
          padding: 5px 14px;
          font-size: 0.9rem;

          i,
          span {
            transition: all 0.5s ease-in-out;
            color: #878787;
          }

          &:hover {
            background-color: #fff6e9;

            i,
            span {
              color: #ff9600;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: #527834;
  padding: 60px 0;
  background-image: url('../images/footer-bg.png');
  @extend %backgroundImage;
  .footer_logo {
    img {
      width: 80px;
    }

    p {
      color: #fff;
      font-size: .9rem;
    }

    li {
      a {
        width: 32px;
        height: 32px;
        background-color: #7EB751;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 4px;

        i {
          color: #fff;
        }
      }
    }
  }

  .fast_links {
    h5 {
      font-size: 1.2rem;
      color: #fff;
    }

    ul {
      flex-wrap: wrap;

      li {
        width: 50%;

        a {
          color: #fff;
          font-size: .9rem;
        }
      }
    }
  }

  .seubscrip {
    h5 {
      font-size: 1.2rem;
      color: #fff;
    }

    p {
      font-size: .9rem;
      color: #fff;
    }

    .input-group {
      height: 60px;

      .form-control {
        background-color: #fff;
        border: 0;

        &::placeholder {
          font-size: .8rem;
        }
      }

      button {
        background-color: #FF9600;
        color: #fff;
        border-color: #FF9600;
      }
    }
  }
  .copy_right{
    margin-top: 50px;
    padding: 20px 0 20px 0;
    text-align: center;
    hr{
      color: #D3D3D3;
    }
    h5{
      font-size: .8rem;
      color: #fff;
      margin-top: 20px;
    }
  }
}

.fixed_social {
  position: fixed;
  right: 20px;
  z-index: 3;
  bottom: 50px;

  ul {
    li {
      a {
        width: 32px;
        height: 32px;
        background-color: #2A2A2A;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;

        i {
          color: #fff;
        }
      }
    }
  }
}


@media (max-height: 700px) {
  .custom_header .header_content {
    width: 60%;
    margin: auto;
  }

  .custom_header .header_content h5 {
    font-size: 2rem;
  }

  .custom_header .header_content h5 {
    line-height: 45px;
  }
}

@media(max-width: 1400px) {
  .our_numbers_card p {
    font-size: .9rem;
  }

  .our_numbers_card h5 {
    font-size: 2rem;
  }

  .custom_navbar .links ul li {
    min-width: 66px;
  }
}

@media(max-width: 1100px) {

  html,
  body {
    font-size: 13px;
  }

  .custom_header .header_content h5 {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .banks_accounts_page .our_project_card h5{
    line-height: 25px;
  }
}

@media(max-width: 900px) {
  .custom_navbar .links ul {
    display: none !important;
  }

  .top_header {
    .wrap {
      display: flex;
      align-items: center !important;
      justify-content: center !important;
    }

    .social {
      margin-top: 5px;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
    }
  }

  .custom_navbar {
    padding: 10px 0;
  }

  .custom_header .header_content a {
    padding: 10px 34px;
  }

  .contact_info_card {
    margin-bottom: 12px;
  }

  .form_style .button_click {
    margin-top: 0;
  }

  .footer {
    .footer_logo {
      margin-bottom: 25px;
    }
  }

  .footer .fast_links h5 {
    font-size: 1.5rem;
  }
  .navbar_wrap{
    flex-direction: row-reverse;
    justify-content: space-between;
    i{
      font-size: 1.5rem;
      color: #000;
    }
    .nav_icon{
      display: block;
    }
  }
  .custom_navbar .logo{
    margin-left: 0;
  }
  // .programs_registeration .nav{
  //   overflow: auto;
  //   flex-wrap: nowrap;
  //   padding-bottom: 15px;
  //   li{
  //     min-width: max-content !important;
  //     margin-left: 5px;
  //   }
  // }
  .programs_registeration .our_projects_cards .our_project_card{
    flex-direction: column;
  }
  .our_project_card .card_img{
    width: 90%;
    height: 165px;
  }
  .volunteering_registeration_page{
    .volunteering_registeration_img{
      margin-top: 50px;
    }
  }
}
.mm-btn--next:after, .mm-btn--prev:before{
  transform: rotate(315deg);
}

@media(max-width: 600px) {
  .top_header .wrap {
    display: none !important;
  }

  .custom_header .header_content {
    width: 100%;
  }

  .custom_header .header_content h5 {
    line-height: 30px;
    font-size: 1.3rem;
  }
  .who_us_card{
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .our_project_card{
    flex-direction: column;
  }
  .our_project_card .card_img{
    width: 90%;
  }
  .contact_info_card{
    justify-content: flex-start;
  }
  .custom_header .slider_item .header_svg{
    display: none;
  }
  .side_our_news_card .card_img{
    height: 151px;
  }
  .side_our_news_card .card_body h5{
    line-height: 25px;
  }
}

@media(max-width: 340px){
  .breadcrum_cistom .wrapper_breadcrum_cistom ul li a{
    margin: 0 7px;
  }
}

// #404040

/* Shared styles  */
%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%imglikebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%imgParent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%btnColor {
  padding: 10px 40px;
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 5px;
  color: #fff;
  font-family: jannab;
}